.stApp{
    background:#F8FAFC;
}

/* Hero */

.hero{
    background:white;
    padding:45px;
    border-radius:20px;
    box-shadow:0px 8px 20px rgba(0,0,0,0.08);
    text-align:center;
}

.hero h1{
    color:#D32F2F;
    font-size:52px;
    margin-bottom:10px;
}

.hero h3{
    color:#1565C0;
    margin-bottom:20px;
}

.hero p{
    color:#1a1c1e;
    font-size:18px;
    line-height:1.6;
}

div[data-testid="stCaptionContainer"] p{
    color: #1565C0 !important;
}
